<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Contact Submitted</title>
    <link rel="stylesheet" href="/styles/contactus.css" />
</head>
<body>
    <%- include('includes/navbar') %>

    <div class="new_home_web" style="text-align:center; padding: 50px; color: #f2f1ed;">
        <h1>Thank you for contacting us!</h1>
        <p>Your message has been received. We will get back to you shortly.</p>
        <!-- <button onclick="window.location.href='/index'" style="padding: 10px 20px; font-size: 16px; background-color: #f0a029;cursor: pointer;">
            Back to Home
        </button> -->
    </div>

    <%- include('includes/footer') %>
</body>
</html>
